.edit-start-time-container, .edit-end-time-container {
  padding-bottom: 25px;
}

.cancel-btn, .edit-btn {
  padding-left: 8px;
  padding-right: 8px;
}

div.error {
  color: red;
  font-weight: bold;
}