body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.react-bs-table table th,
.react-bs-table table td
{
 	font-size: calc(1vw + 5px);
  	white-space: normal !important;
  	word-wrap: normal !important;
  	overflow: visible !important;
}